html, body {
  font-size: 16px;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 3em;
  font-family: Helvetica;
  color: white;
  padding: 3%;
  text-align: center;

}

P {
  font-size: 1em;
  font-family: Helvetica;
  color: black;
  opacity: .5;
  text-align: center;
  background: white;
}

p a:link, a:visited {
  text-decoration: none;
  color: black;
}

h3 {
  width: 95%;
  font-size: 4.5em;
  font-family: Helvetica;
  color: white;
  opacity: .5;
  margin: 3%;
  text-align: center;
}

h3 a:link, a:visited {
  font-family: Helvetica;
  color: white;
  opacity: .5;
  text-decoration: none;
}
