html {
  font-size: 16px;
}

body {
  background-color: rgb(93, 109, 126);
}

h2 {
  font-size: 3em;
  font-family: Helvetica;
  color: white;
  opacity: .5;
  background-color: black;
  padding: 3%;
  text-align: center;

}

P {
  font-size: 1em;
  font-family: Helvetica;
  color: black;
  opacity: .5;
  text-align: center;
}

p a:link, a:visited {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 5em;
  font-family: Helvetica;
  color: white;
  opacity: .5;
  margin-top: 5%;
  text-align: center;
}

h3 a:link, a:visited {
  font-family: Helvetica;
  color: white;
  opacity: .5;
  text-decoration: none;
}
